*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fca5d1;
}

.header{
    background-color:#FF69B4;
    height: 110px;
}

.nav-bar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav-bar ul li:nth-child(1):hover{
    background-color: rgba(219, 65, 142, 0.781);
    width: 62px;
    border-radius: 50px;
    transition: 0.5s ease-in-out;

}
.nav-bar ul li:nth-child(2):hover{
    background-color: rgba(219, 65, 142, 0.781);
    width: 90px;
    border-radius: 50px;
    transition: 0.5s ease-in-out;

}
.nav-bar ul li:nth-child(3):hover{
    background-color: rgba(219, 65, 142, 0.781);
    width: 125px;
    border-radius: 50px;
    transition: 0.5s ease-in-out;

}
.nav-bar ul li:nth-child(4):hover{
    background-color: rgba(219, 65, 142, 0.781);
    width: 80px;
    border-radius: 50px;
    transition: 0.5s ease-in-out;

}
.nav-bar ul li:nth-child(5):hover{
    background-color: rgba(219, 65, 142, 0.781);
    width: 90px;
    border-radius: 50px;
    transition: 0.5s ease-in-out;

}
.nav-bar ul li a{
text-decoration: none;
color:white;
font-size: 1.3rem;
}
.nav-bar ul li a:hover{
    color: black;
    transition: 0.5s ease-in-out;
}

.logo img{
    width: 250px;
}

.booking a{
    background-color: rgb(227, 132, 200);
    color: darkslategray;
    width: 270px;
    height: 70px;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    float: inline-end;
    text-align: center;
    border-radius: 30px;
}
.booking a:hover{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
}

.mid h1{
    font-size: 4.5rem;
    margin-top: 15%;
    text-align: center;
}
.mid h1:hover{
    text-shadow:0 0 10px #fb1387;
    transition: 0.3s ease-in-out;
}
.booking1 a{
    background-color: rgb(227, 132, 200);
    color: darkslategray;
    width: 300px;
    height: 45px;
    padding: 8px;
    font-size: 20px;
    position: absolute;
    left:38%;
    top: 495px;
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
}
.booking1 a:hover{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
}
.getstarted a{
    background-color: rgb(227, 132, 200);
    color: darkslategray;
    position: absolute;
    left:54%;
    top: 495px;
    width: 190px;
    height: 45px;
    padding: 8px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
}
.getstarted a:hover{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
}